@model Schoolboy_diary.Models.RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
    Layout = null;
}

    <!doctype html>
    <html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <title>Дневник школьника</title>
        <link rel="stylesheet" href="~/Content/styles.css" type="text/css">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">
        <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    </head>
    <body>
        <div id="wrapper">
            <header>
                <a href="/"><img src="~/images/logo.png" alt="Whitesquare logo"></a>

            </header>
            <nav>
                <ul class="top-menu">
                    <li><a href="~/Home/Index">Домой</a></li>
                    <li><a href="~/Diary/DiariesUser">Проверить дневник</a></li>
                    <li><a href="~/Diary/Diaries">Дневники</a></li>
                    <li><a href="~/School/Schools">Школьники</a></li>
                    <li><a href="~/Account/Login">Войти</a></li>
                    <li class="active">Регистрация</li>
                </ul>
            </nav>
            <div id="heading">
                <h1>Зарегистрироваться</h1>
            </div>
            <aside>
                <nav>
                    <ul class="aside-menu">
                        <li class="active">Что такое</li>
                        <li><a href="/donec/">Для чего нужен</a></li>
                        <li><a href="/vestibulum/">Как войти</a></li>
                        <li><a href="/etiam/">Как пользоваться</a></li>
                    </ul>
                </nav>
            </aside>
            <section>
                <blockquote>
                    <p>
                        &ldquo; Регистрация  &rdquo;
                    </p>
                </blockquote>
                <p>
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Создайте новую учетную запись.</h4>
                        <hr />
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn btn-default" value="Регистрация" />
                            </div>
                        </div>
                    }
                </p>
            </section>
        </div>
    </body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
